/*вторая секция advantage*/
.advantage {

  &__list {
    /*width: 270;
     &:not(:last-child) {
      margin-right: 30px;
    }*/

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__background {
    background-color: $secondary-background;
    //width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;

    @media screen and(min-width:480px) {
      width: 450px;
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
    background-position: center;
    fill: $primary-text;
  }
}


.advantage-name {
  display: none;

  &__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
  }
}

.advantage-content {
  display: flex;
  flex-wrap: wrap;

}