/* Постоянные клиенты*/
.constant-clients {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
  //margin-top: 94px;
  //font-size: 36px;
}

.client-galery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  &__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

.client-galery {
  &__icon {
    //width: 170px;
    width: 210px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $icon-color;
    border-radius: 4px;
    // margin-bottom: 94px;

    transition: border-color 250ms $timng-function;

    &:hover,
    &:focus {
      border-color: $accent;
    }

    &:hover &__svg,
    &:focus &__svg {
      fill: $accent;
    }
  }
}

.icon-ya-ko {
  width: 41x;
  height: 47px;
  background-position: center;
  fill: $icon-color;

  transition: fill 250ms $timng-function;
}

.icon-tagline-here {
  width: 40x;
  height: 52px;
  background-position: center;
  fill: $icon-color;

  transition: fill 250ms $timng-function;
}

.icon-company {
  width: 43x;
  height: 41px;
  background-position: center;
  fill: $icon-color;

  transition: fill 250ms $timng-function;
}

.icon-foster-peters {
  width: 84x;
  height: 41px;
  background-position: center;
  fill: $icon-color;

  transition: fill 250ms $timng-function;
}

.icon-brand {
  width: 63x;
  height: 45px;
  background-position: center;
  fill: $icon-color;

  transition: fill 250ms $timng-function;
}

.icon-tag-line {
  width: 94px;
  height: 44px;
  background-position: center;
  fill: $icon-color;

  transition: fill 250ms $timng-function;
}