/*Modal window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms $timng-function;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.backdrop__form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: $primary-background;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $timng-function;
}

/* close modal button*/

.backdrop {
  &__button-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $primary-background;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  &__icon-close {
    width: 11px;
    height: 11px;
    fill: $primary-text;
    cursor: pointer;

    transition: fill 250ms $timng-function;
  }
}

.backdrop__button-close:hover .backdrop__icon-close,
.backdrop__button-close:focus .backdrop__icon-close {
  fill: $accent;
}

/*hw 6 оформление наполнения модалки*/
.js-speaker-form {
  padding: 40px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 12px;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;

  &__name {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $secondary-text;
    margin-bottom: 4px;
  }

  &__field {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;

    transition: border 250ms $timng-function;

    &:hover,
    &:focus {
      border: 1px solid $accent;
      cursor: pointer;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.input_icon {
  position: absolute;
  width: 18px;
  height: 18px;
  transform: translateY(150%);
  left: 12px;
  fill: $primary-text;

  transition: fill 250ms $timng-function;
}

.input__field:hover + .input_icon,
.input__field:focus + .input_icon {
  fill: $accent;
}

.input__textarea {
  width: 448px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 12px;
}

.input .input__textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/*checkbox*/
.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;

  &__icon {
    width: 16px;
    height: 15px;
    border: 2px solid $primary-text;
    border-radius: 2px;
    fill: $primary-background;
  }

  &__field {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-text;
    margin-left: 7px;
  }

  &__conditions {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: $accent;
  }
}

.checkbox:checked + .checkbox__icon {
  background-color: $accent;
  border-color: $accent;
  fill: $primary-background;
  background-origin: border-box;
}

/* button submin*/
.checkbox__button {
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: $primary-background;
  background-color: $accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  margin-left: 124px;
  margin-right: 124px;
  margin-bottom: 40px;

  transition: background-color 250ms $timng-function;

  &:hover,
  &:focus {
    background-color: #188ce8;
    cursor: pointer;
  }
}
